@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');
.App {
  text-align: center;
  display: flex;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8aGuAIU25mnwDOc8aRPIM2zgSjYx-br2Zjaq7FOaGXE5_X8nCPioOTLTqERwb6nGgzEw&usqp=CAU');
  background-size: cover;
  background-position: center;

}
